body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.image {
  width: 370px;
  margin-top: 80px;
}

@media (max-width: 770px) {
  .container {
    margin-top: 40px;
  }

  .image {
    width: 80%;
  }
}
